__pycache__/
venv/
**/node_modules/
**/package-lock.json

.vscode/
.idea/
.DS_Store

**/dist/
**/.angular/
**/.vscode/
**/.idea/
**/.DS_Store

dashboard/src/environments/*.ts
dashboard/npm-debug.log*
dashboard/yarn-debug.log*
dashboard/yarn-error.log*

# exclude myprosody temp files
processing_layer/metrics_computation/voice_metrics/core/myprosody/myprosody/dataset/audioFiles/temp.wav
processing_layer/metrics_computation/voice_metrics/core/myprosody/myprosody/dataset/audioFiles/temp.TextGrid

# exclude ex_files
ex_files

**/performance_log.csv